{
  "name": "sesja_project",
  "config": {
    "resources.source.1.config.includeServerNode": "false",
    "project.ssh-authentication": "privateKey",
    "service.FileCopier.default.provider": "jsch-scp",
    "resources.source.1.config.generateFileAutomatically": "false",
    "project.description": "sesja_project",
    "project.ssh-keypath": "{{ rundeck.work_path }}/.ssh/id_rsa",
    "service.NodeExecutor.default.provider": "jsch-ssh",
    "resources.source.1.config.format": "resourceyaml",
    "resources.source.1.config.file": "{{ rundeck.cfg_dir }}/resources_nodes.d/rundeck_default_hosts.yml",
    "project.name": "sesja_project",
    "resources.source.1.config.requireFileExists": "true",
    "resources.source.1.type": "file",
  }
}