- description: Job for provisioning Apache HTTPD server
  executionEnabled: true
  group: test_group
  id: 84750798-a27c-4c7a-a3f8-75fd33e624bc
  loglevel: INFO
  multipleExecutions: true
  name: apache_provisioner
  options:
  scheduleEnabled: false
  sequence:
    commands:
    - script: |-
        #!/bin/bash
        WORKSPACE_PATH="workspace/$RD_JOB_NAME/$RD_JOB_ID/$RD_JOB_EXECID"
        RUNDECK_WORK_PATH=/var/lib/rundeck
        rm -rf $RUNDECK_WORK_PATH/$WORKSPACE_PATH
        mkdir -p $RUNDECK_WORK_PATH/$WORKSPACE_PATH
        git clone https://github.com/docent-net/sesja-linuksowa-2016-rundeck.git $RUNDECK_WORK_PATH/$WORKSPACE_PATH/
        cd $RUNDECK_WORK_PATH/$WORKSPACE_PATH
        git checkout master
        git pull
        DEBUG=$([ "$RD_JOB_LOGLEVEL" == "DEBUG" ] && echo "-vvvvv" || echo " ")
        ansible-playbook $DEBUG plays/nodes/apache_provisioner.yml -i inventory/hosts
    keepgoing: false
    strategy: node-first
  uuid: 84750798-a27c-4c7a-a3f8-75fd33e624bc